table {
  font-family: arial, sans-serif;
  border-collapse:collapse;
}

td, th {
  border: 1px solid #828282;
  text-align: left;
  padding: 8px;
}
thead{
 
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container{
  overflow-x: auto;
  width: 100%;
}
.cb{
  text-align: center;
}

.quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.increment, .decrement{
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 25px;
}
.decrement{
  font-size: 30px;
}
.input{
  width: 5ch; /* Set the width to approximately 10 characters */
  background: transparent;
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
}

.tot{
  background:none;
  border: none;
}