@import url(../../vars.css);


.container{
  width: 100%;
  overflow-x:auto;
  box-sizing: content-box;
}

.head{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color-bg2);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.head h2{
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.client{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
  padding-bottom: 0;
  justify-content: space-between;
}

.date{
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Title{
  text-decoration: underline;
  padding: 10px;
  text-align: center;
  align-content: center;
}

table{
  width: 98%;
  margin: 8px;
  align-content: center;
  font-family: arial, sans-serif;
  border-collapse:collapse;
  border:1px solid black;
}

td, th {
  text-align: left;
  padding: 8px;
  text-align: left;
}
td:not(.quantity) {
  border: 1px solid #828282;
}
th{
  border: 1px solid #828282;
}

.expand{
  overflow-wrap: break-word;
  text-align: left;
  min-width: 200px;
  max-width: 200px;
}

thead{
  text-align: center;
  border: 1px solid #828282;
  background-color: var(--color-bg2);
}

th{
  text-align: center;
}

.rate,.total{
  text-align: right;
}


.cb{
  text-align: center;
}



.quantity{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  
  border-top: 0.6px solid #828282;
 
}



.increment, .decrement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding-left: 2px;
  padding-right: 2px;
}


.input{
  display: flex;
  flex-direction: row;
  padding-top: 9px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
width: 5ch; /* Set the width to approximately 10 characters */
background: transparent;

border: none;
}

.deleteImg{
width: 20px;
}

.delete{
  text-align: center;
}
.deletebtn{
text-decoration: none;
background: none;
border: none;
}



.tot{
  width: 9ch; 
border: none;
}

.product{
  border:none;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  overflow-wrap: break-word;
}

