.container{
  width: 100%;
  overflow-x:auto;

}

table{
  font-family: arial, sans-serif;
  border-collapse:collapse;
  width:100%;
}

.head{
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

td, th {
  border: 1px solid #828282;
  text-align: left;
  padding: 8px;
}
thead{

  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container{
  width: 100%;
}
.cb{
  text-align: center;
}

.quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0px ;
  border-left: 0px ;
  border-right: 0px ;
  padding-left: 1px;
  padding-right: 1px;
}
.increment, .decrement{
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding-left: 2px;
  padding-right: 2px;
}
.decrement{
  font-size: 30px;
}

.input{
width: 4ch; /* Set the width to approximately 10 characters */
background: transparent;
-webkit-appearance: none; /* Safari and Chrome */
-moz-appearance: none; /* Firefox */
appearance: none; /* Standard */
border: none;
}

.delete{
width: 20px;
}

.deletebtn{
text-decoration: none;
background: none;
border: none;
}

.tot{
  width: 9ch; /* Set the width to approximately 10 characters */
background: transparent;
-webkit-appearance: none; /* Safari and Chrome */
-moz-appearance: none; /* Firefox */
appearance: none; /* Standard */
border: none;
}

.product{
  min-width: 200px;
  max-width: 200px;
}